---
import { CenterProseContainer } from "@src/components/CenterProseContainer";
import BaseLayout from "@src/layouts/BaseLayout.astro";
---

<BaseLayout title={"About"}>
    <CenterProseContainer>
        <h1 class="font-bold text-2xl">{"About"}</h1>
    </CenterProseContainer>
</BaseLayout>
