---
// Reference: https://github.com/sanity-io/sanity-template-astro-clean/blob/main/app/src/pages/index.astro
// Reference: https://github.com/sanity-io/sanity-template-astro-clean/blob/main/app/src/components/Card.astro

import BaseLayout from "@src/layouts/BaseLayout.astro";
import { CenterProseContainer, PostCard, HeaderTitle } from "@src/components";
import { getPosts, getPostTags } from "@src/sanity";

const posts = await getPosts();

const getAllTagsAsync = posts.map(async (post) => {
    return await getPostTags(post);
});
const allTags = await Promise.all(getAllTagsAsync);
---

<BaseLayout title={"Posts"}>
    <CenterProseContainer>
        <HeaderTitle title="Posts" className="mb-4" />
        <section>
            <ul class="flex flex-col gap-4">
                {
                    posts.map((post, index) => (
                        <PostCard post={post} tags={allTags[index]} />
                    ))
                }
            </ul>
        </section>
    </CenterProseContainer>
</BaseLayout>
