---
import { getCollection } from "astro:content";
import BaseLayout from "@src/layouts/BaseLayout.astro";

const allBlogPosts = await getCollection("blog");
const filteredBlogPosts = await getCollection(
    "blog",
    ({ data }) => data.draft !== true
);
---

<BaseLayout title={"Blog"}>
    {
        filteredBlogPosts.map((blogPost) => (
            <li>
                <a href={`/blog/${blogPost.slug}`}>{blogPost.data.title}</a>
            </li>
        ))
    }
</BaseLayout>
