---
import { CenterProseContainer } from "@src/components/CenterProseContainer";
import BaseLayout from "@src/layouts/BaseLayout.astro";
---

<BaseLayout title={"Tags"}>
    <CenterProseContainer>
        <h1 class="font-bold text-4xl">{"Tags"}</h1>
    </CenterProseContainer>
</BaseLayout>
