---
import { CenterProseContainer } from "@src/components/CenterProseContainer";
import BaseLayout from "@src/layouts/BaseLayout.astro";

// TODO : Get list of tags
// TODO : Each tag card should link to /tag/[slug]
// TODO : Each /tag/[slug] should show a list of posts with that tag
---

<BaseLayout title={"Tags"}>
    <CenterProseContainer>
        <h1 class="font-bold text-4xl">{"Tags"}</h1>
    </CenterProseContainer>
</BaseLayout>
