---
import { CenterProseContainer } from "@src/components/CenterProseContainer";
import BaseLayout from "@src/layouts/BaseLayout.astro";
---

<BaseLayout title={"Home"}>
	<CenterProseContainer>
		<div>
			<h1 class="font-bold text-2xl">{"Home"}</h1>
			<p>Hello World!</p>
		</div>
	</CenterProseContainer>
</BaseLayout>
