---
// Reference: https://github.com/sanity-io/sanity-template-astro-clean/blob/main/app/src/pages/index.astro
// Reference: https://github.com/sanity-io/sanity-template-astro-clean/blob/main/app/src/components/Card.astro

import BaseLayout from "@src/layouts/BaseLayout.astro";
import { getPosts } from "@src/sanity";

const posts = await getPosts();
// posts.forEach((post) => console.log(post));
---

<BaseLayout title={"Posts"}>
    <section>
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <a href={`/post/${post.slug.current}`}>{post.title}</a>
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>
