---
const { className } = Astro.props;
---

<header class={className}>
    <nav class="p-2">
        <ul class="flex justify-end gap-4">
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/about">About</a>
            </li>

            <li>
                <a href="/blog">Blog</a>
            </li>

            <li>
                <a href="/tags">Tags</a>
            </li>

            <li>
                <a
                    href="https://github.com/gjtiquia/blog-website"
                    target="_blank"
                >
                    GitHub
                </a>
            </li>
        </ul>
    </nav>
</header>
