---
import { BaseHeader, BaseFooter } from "@src/components";

interface Props {
    title: string;
    titlePrefix?: string;
}

const DEFAULT_TITLE_PREFIX = "GJ's Blog - ";
const { title, titlePrefix = DEFAULT_TITLE_PREFIX } = Astro.props;
---

<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{titlePrefix}{title}</title>
    </head>
    <body class="h-full flex flex-col">
        <BaseHeader headerClassName="flex-grow-0" />
        <main class="flex-grow w-11/12 self-center">
            <slot />
        </main>
        <BaseFooter footerClassName={"flex-grow-0"} />
    </body>
</html>
